.jim-container-mobile {
  width: 83vw;
  margin-top: 120px;
  overflow-y: scroll;
  /* padding-bottom: 90px; */
}

.mobile-jim-left {
  width: 30%;
}
.mobile-jim-right {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.books {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.book {
  margin: 0 5px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
  margin-bottom: 5px;
  width: 40%;
}

.book:hover img {
  opacity: 0.5;
}
.book:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  background-color: black;
}

.text {
  color: white;
  font-size: 12px;
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 12px;
}

img.jim-img {
  height: 100%;
  object-fit: contain;
}
span {
  text-transform: uppercase;
}

p::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
p {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p {
  margin: 0;
  overflow: unset;
}

@media (max-width: 400px) {
  .jim-container-mobile.mini {
    padding-bottom: 140px;
  }
}
