/* .aboutMexicoContainer {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  align-items: center;
  width: 72vw;
  max-width: 1080px;
  margin-top: 90px;
  grid-template-areas: 'l-arrow main r-arrow';
  max-width: 1400px;
  max-width: 1260px;
} */

.aboutMexicoContainer.mobile {
  overflow-y: auto;
  width: 85vw;
  margin-top: 160px;
  padding-bottom: 80px;
}
.Images-spread,
.Image-spread {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.Images-spread.mexico-opener {
  border: none;
}

.l-arrow {
  grid-area: l-arrow;
}
.main {
  grid-area: main;
}
.r-arrow {
  grid-area: r-arrow;
  justify-self: start;
}

.Slide-active {
  display: block;
}
.Slide-sliding {
  display: none;
  text-align: center;
}
.arrow:hover {
  color: grey;
}
h2 span {
  margin: 5px;
}

/* @media (min-width: 900px) and (max-width: 1199px) {
  .aboutMexicoContainer {
    width: 80vw;
  }
}

@media (min-width: 761px) and (max-width: 899px) {
  .aboutMexicoContainer {
    width: 80vw;
    grid-gap: 10px;
  }

  .arrow h2 {
    font-size: 1.2rem;
  }
  .arrow h2 span {
    margin: 2px;
  }
} */

@media (max-width: 400px) {
  .aboutMexicoContainer.mobile {
    padding-bottom: 160px;
  }
}
