#navbarMobile {
  position: fixed;
  flex-direction: column;
  margin-top: 0;
  align-items: flex-end;
  text-align: right;
  height: 130px;
  background: white;
  width: 85vw;
  z-index: 5;
}

.navbarTitle {
  margin-top: 25px;
}
.navbarMenu {
  margin-top: 20px;
  text-align: left;
}
.navbarBuy {
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 10px;
}

#NavbarSocial {
  position: fixed;
  display: flex;
  width: 13.5vw;
  height: 100vh;
  top: 0;
  justify-content: space-between;
  align-items: center;
  right: 0;
  z-index: 20;
}

.social {
  display: flex;
  flex-direction: column;
}

#navBarToggle {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: grey;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navBarToggle a {
  color: #fff;
}
ul.toggleNavBar {
  list-style-type: none;
  padding: 0;
}
.toggleNavBar {
  text-align: center;
  margin-bottom: 75px;
}

/* @media (min-width: 540px) and (max-width: 900px) {
  #navbarMobile.navbarHomeMobileHybrid,
  .aboutMexicoContainer-mobileAlt,
  .HomeContainerMobile {
    width: 70vw;
  }
} */

@media (max-width: 539px) {
  #NavbarSocial {
    width: 100vw;
    height: 80px;
    bottom: 0;
    top: unset;
    z-index: 25;
    background: #fff;
    justify-content: center;
  }
  .social {
    flex-direction: row;
  }
  #navbarMobile.navbarHomeMobileHybrid {
    height: 150px;
  }
  .navbarWorldFood h1 {
    font-weight: 400;
    font-size: 5.3rem;
    line-height: 0.7;
  }
}
@media (max-width: 400px) {
  .navbarWorldFood h1 {
    font-size: 4.2rem;
    line-height: 0.7;
  }
  #navbarMobile.navbarHomeMobileHybrid {
    height: 140px;
  }
}
